/**
 * Page name
 * Copyright 2017
 * Author
 * Licensed 
 */
/*------------------------------------*\
    Content
\*------------------------------------*/
/**
 * Content............You're reading it!
 * Globel...............Set common style
 * Layout...........Set grid
 * Components...........Set components styles
 */
 
 
/*------------------------------------*\
    Globel
\*------------------------------------*/

*{
	box-sizing: border-box;
	position: relative;
}
html,body{
	font-family: '微軟正黑體', arial;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	color: #333;
	text-decoration: none;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

/*------------------------------------*\
    Layout
\*------------------------------------*/
.wrapper{
	overflow: hidden;
}
.container{
	max-width: 992px;
	max-height: 100%;
	margin: 0 auto;
	padding-left: 8px;
	padding-right: 8px;
    border: 1px solid #ddd;
}

.row{
	margin-left: -16px;
	margin-right: -16px;
	border: 1px solid #000;
}
.row:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.col-1-1,.col-1-2,.col-1-3,.col-1-4,.col-1-6,
.col-3-4,.col-5-6{
	float: left;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	border: 1px solid #000;
}

.col-1-1{
	width: 66.6666666%;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.3333333%;
}
.col-1-4{
	width: 25%;
}
.col-1-6{
	width: 16.66667%;
}
.col-3-4{
	width: 75%;
}
.col-2-3{
	width: 66.666666%;
}

.col-5-6{
	width: 83.33333%;
}


@media (max-width: 768px){
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media (max-width: 576px){
	.col-sm-12{
		width: 100%;
	}
}



/*------------------------------------*\
    Components
\*------------------------------------*/

/*btn*/
.btn{
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	padding: 4px 16px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
	transition: all 0.3s;
}
/* 大小設定 */
.btn.btn-lg{
	padding: 8px 32px;
}
/* 主要按鈕 */
.btn.btn-primary{
	background-color: #d5a26f;
	border: 1px solid #d5a26f;
	color: #fefefe;
}
.btn.btn-primary:hover{
	background-color: #b2875c;
	border: 1px solid #b2875c;
}
/* 次要按鈕 */
.btn.btn-secondary{
	border: 1px solid #d5a26f;
	color: #d5a26f;
}
.btn.btn-secondary:hover{
	background-color: #d5a26f;
	color: #fefefe;
}
.btn-group-center{
	text-align: center;
}
.btn-group-center .btn{
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
}
.btn-group-right{
	text-align: right;
}
.btn-group-right .btn{
	margin-left: 24px;
}
@media (max-width: 576px){
	.btn-group-center{
		display: flex;
		flex-direction: column;
		width: 240px;
		margin: 0 auto;
	}
	.btn-group-center .btn{
		margin-bottom: 24px;
	}
	.btn-group-center .btn:last-child{
		margin-bottom: 0;
	}
}
/* social-btns */
.social-btns{
	/*display: flex;*/
	text-align: center;
}
.social-btns .icon-btn{
	display: inline-block;
	border: 1px solid #FFF;
	color: #FFF;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	margin-top: 16px;
	margin-right: 16px;
	margin-left: 16px;
	margin-bottom: 16px;
	transition: all 0.2s;
}
.social-btns .icon-btn:last-child{
	margin-right: 0;
}
.social-btns .icon-btn:hover{
	color: #0B121F;
	background-color: #fefefe;
}
.social-btns .icon-btn i{
	line-height: 72px;
	font-size: 52px;
}

/*navbar*/
.navbar{
	background-color: rgba(0,0,0,0.8);
	height: 128px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 500;
	width: 100%;
	overflow:hidden;
}
.navbar .nav{
	float: right;
}

.navbar .brand{
	display: inline-block;
	width: 160px;
	height: 64px;
	background-image: url('../image/common/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media (max-width: 996px) {
	
}

.nav{
	float: right;
}
.nav > li{
	float: left;
}
.nav > li > a{
	display: block;
	line-height: 24px;
	padding: 28px 16px;
	margin-right: 4px;
	color: #ffffe3;
}
.nav > li > a:after{
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #41a9ff;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s;
}
.nav > li > a.current:after, .nav > li:hover > a:after{
	width: 100%;
}
.nav .dropdown{
	position: absolute;
	left: 50%;
	top: 105%;
	transform: translateX(-50%);
	background-color: #c37fff;

	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.nav > li:hover .dropdown{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.nav .dropdown > li > a{
	display: block;
	line-height: 24px;
	padding: 8px 24px;
	color: #fff;
	width: 200px;
	transition: all 0.2s;
}
.nav .dropdown > li > a:hover{
	background-color: #ff5e41;
}

.navbar .nav .nav-link{
	display: inline-block;
	line-height: 24px;
	padding: 20px 16px;
	color: #fefefe;
	transition: all 0.3s;
}
.navbar .nav .nav-link:hover{
	color: #4683fc;
}

/* jumbotron */
.jumbotron{
	padding-top: 168px;
	padding-bottom: 160px;
}

.jumbotron .logo-image{
	width: 100%;
	display: block;
	margin: 0 auto;
	/*text-align: center;*/
}

/* image container */
.image-container{
	width: 100%;
	display: block;
}
.image-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}
.image-container .image{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* hero */
.hero{
	padding-top: 80px;
	padding-bottom: 80px;
}
@media (max-width: 768px){
	.hero{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.hero.hero-bg-white{
	background-color: #fefefe;
}
.hero.hero-bg-grey{
	background-color: #efefef;
}

/* section-intro */
.section-intro{
	text-align: center;
	margin-bottom: 40px;
}
.section-intro .title{
	font-size: 48px;
	color: #333;
	margin-bottom: 24px;
}
.section-intro .para{
	font-size: 16px;
	line-height: 32px;
	color: #333;
}
@media (max-width: 768px){
	.section-intro .title{
		font-size: 32px;
	}
}

/* hotsale-item */
@media (max-width: 768px){
	.hotsale-item{
		margin-bottom: 48px;
	}
	.hotsale-group [class^="col-"]:last-child .service-item{
		margin-bottom: 0;
	}
}
.hotsale-item .preview{
	padding-top: 16px;
}
.hotsale-item .title{
	font-size: 24px;
	color: #333;
	margin-bottom: 8px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hotsale-item .subtitle{
	font-size: 14px;
	color: #d5a26f;
	margin-bottom: 16px;
}
.hotsale-item .para{
	color: #333;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 24px;

	/*border: 1px solid #000;*/
	height: 72px;
	overflow: hidden;
}

/* Deal-list */
.Deal-list{
	margin-bottom: 64px;
}
.Deal-list:last-child{
	margin-bottom: 0;
}
.Deal-list .title-bar{
	/*border: 1px solid #000;*/
	margin-bottom: 24px;
}
.Deal-list .title-bar:after{
	content: '';
	display: block;
	clear: both;
}
.Deal-list .title-bar .title{
	font-size: 24px;
	line-height: 40px;
	color: #d5a26f;
	float: left;
	padding-left: 16px;
}
.Deal-list .title-bar .title:before{
	content: '';
	display: inline-block;
	width: 4px;
	height: 24px;
	background-color: #d5a26f;
	
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}
.Deal-list .title-bar .btn{
	padding-top: 8px;
	padding-bottom: 8px;
	float: right;
}
.Deal-list .list-item .image-container{
	margin-bottom: 16px;
	width: 300px;
    margin: 0 auto;
}
.menu-list .list-item .image-container:before{
	padding-top: 100%;
}
.Deal-list .list-item .title{
	font-size: 18px;
	color: #333;
	line-height: 24px;
	margin-bottom: 8px;
}
.Deal-list .list-item .subtitle{
	font-size: 14px;
	color: #d5a26f;
}
@media (max-width: 768px){
	.Deal-list .list-item{
		margin-bottom: 48px;
	}
}
/* BRAND STYLE GUIDES */
.Branditem{
	max-width:100%;
}

.Branditem-mid{
	background-image:cover;
}

.clear{
	clear: both;
	margin-bottom:32px;
}


/*EVENT*/
.event-card{
	padding: 16px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.3);
	margin-bottom: 16px;
}

.event-card .image{
	width: 100%;
	display: block;
	margin-bottom: 16px;
}

.event-card .para{
	line-height: 32px;
	font-size: 16px;
}
.masonry-row{
	margin-right: -16px;
	margin-left: -16px;
}

.masonry-col{
	padding-left: 16px;
	padding-right: 16px;
	width: 33.33333%;
}

@media (max-width: 768px){
	.evaluation-card{
		width: 50%;
	}
}

@media (max-width: 576px){
	.evaluation-card{
		width: 33.33333%
	}

}

/*menu*/

.menu-card{
	width: 90%;
	padding: 16px;
	margin-bottom: 16px;
}

.menu-card .image{
	width: 100%;
	display: block;
	margin-bottom: 16px;
}

.menu-card .para{
	line-height: 32px;
	font-size: 16px;
}

/*POP BRANDS*/
.brand-card{
	width: auto;
	padding: 16px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.3);
	margin-bottom: 16px;
}
.brand-card .logo{
	width:30%;
    margin:10px auto;
    padding-top:10px;
}

.brand-card .item .tittle{
       font-size:18px;
       font-weight:bold;
       line-height:24px;
       height:24px;
       width:60%;
       padding-bottom:8px;
       margin:auto auto 8px;
       border-bottom:1px solid #000;
       text-align: center;
       text-decoration:none;
       color:#000;
       overflow:hidden;
}
.brand-card .item .para{
	font-size:14px;
	line-height:25px;
	width:80%;
	height:133px;
	text-align: center;
	margin:auto;
	overflow:hidden;
}
.brand-card .item .pic{
	width:40%;
	margin:15px auto;
}
.card .item .btn{
	width:47%;
	margin:16px auto;
	padding-bottom:32px;
}

/* footer */
.footer{
	background-color: #0B121F;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.footer .nav{
	display: flex;
	justify-content: center;
}
.footer .nav .nav-link{
	display: block;
	color: #fefefe;
	padding: 24px;
	line-height: 24px;
	transition: all 0.3s;
}
@media (max-width: 768px){
	.footer .nav .nav-link{
		padding: 24px 8px;
	}
}
.footer .nav .nav-link:hover{
	color: #d5a26f;
}
.footer .copyright{
	background-color: #0B121F;
	color: #ddd;
	text-align: center;
	line-height: 24px;
	padding: 16px 0;
	font-size: 14px;
}
.footer .section-intro .title{
	font-size: 24px;
}
.footer .section-intro .para{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
.footer .section-intro .title,
.footer .section-intro .para{
	color: #fff;
}
/* form */
.form{
	max-width: 300px;
	margin: 0 auto;
}
.form__item{
	display: flex;
	margin-bottom: 24px;
	align-items: center;
}
.form__label{
	color: #fff;
	margin-right: 16px;
}
.form__input{
	display: inline-block;
	flex: 1;
	border: 1px solid #fff;
	line-height: 24px;
	background-color: transparent;
	color: #fff;
	border-radius: 4px;
	padding: 0 8px;
	outline: none;
}
.form__input:focus{
	border: 1px solid #d5a26f;
}
.form__submit{
	flex: 1;
}